@model Escuela;

@{
  ViewData["Title"]= "Informaci칩n Escuela";
  Layout="_Layout";
}

<h1>Escuela  </h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>A침o Fundaci칩n: @Model.A침oFundacion</strong></p>
<p><i>@ViewBag.CosaDinamica</i></p>
