@model IEnumerable<Curso>;

@{
  ViewData["Title"] = "Información Cursos";
  Layout="_Layout";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
<partial name="ListaObjetoEscuela"/>
<p><i>@ViewBag.Fecha</i></p>
